<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <header>
        <nav>
            <a href="{% url 'create_task' %}"> create task</a>
        </nav>

    </header> -->
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'show_my_tasks' %}">My tasks</a>
                </li>
                <li>
                    <a href="{% url 'create_task' %}"> create task</a>
                </li>
                <li>
                    <a href="{% url 'list_projects' %}">My projects</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>

                {% else %}
                <li>
                    <a href="{% url 'login' %}"> Login</a>
                </li>
                <li>
                    <a href="{% url 'signup' %}"> SignUp</a>
                </li>

                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>{{ lists.name }}</h1>
            <p> {{lists.description}}</p>
            <h2>Tasks</h2>
            {% if lists.tasks.count > 0 %}
            <table>
                {% for list in lists.tasks.all %}
                <thread>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </thread>
                <tbody>
                    <tr>
                        <td>{{list.name}}</td>
                        <td>{{list.assignee}}</td>
                        <td>{{list.start_date}}</td>
                        <td>{{list.due_date}}</td>
                        <td>{{list.is_completed|yesno:'yes,no,Maybe'}}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
            {% else %}
            <p>This project has no tasks</p>
            {% endif %}
        </div>
    </main>
</body>
</html>
