<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'show_my_tasks' %}">My tasks</a>
                </li>
                <li>
                    <a href="{% url 'list_projects' %}">My projects</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                <li>
                    <a href="{% url 'create_project' %}">Create a new project</a>
                </li>

                {% else %}
                <li>
                    <a href="{% url 'login' %}"> Login</a>
                </li>
                <li>
                    <a href="{% url 'signup' %}"> SignUp</a>
                </li>

                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>My Projects</h1>
            {% if lists.count == 0 %}
                <p>You are not assigned to any projects</p>
            {% else %}
            <table>
                <thread>
                    <th>Name</th>
                    <th>Number of tasks</th>
                </thread>
                <tbody>
                    {% for list in lists %}
                    <tr>
                        <td>
                            <a href="{% url 'show_project' list.id %}">{{list.name}}</a>
                        </td>
                        <td>{{ list.tasks.count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </main>

</body>
</html>
